body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cream);
    font-size: 14px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

.card {
    width: 600px;
    height: 449px;
    display: flex;
    background-color: var(--white);
    border-radius: 10px;
}

.card .img-product {
    width: 50%;
    background: url('../images/image-product-desktop.jpg') center center no-repeat; 
    background-size: cover;
    border-radius: 10px 0 0 10px;
}

.card .desc {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 32px;
}

.card .desc .type {
    letter-spacing: 5px;
    text-decoration: bold;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 20px;
    color: var(--grayish-blue);
}

.card .desc .title {
    font-family: "Fraunces", serif;
    font-size: 32.5px;
    line-height: 32.4px;
    letter-spacing: -0.2px;
    margin-bottom: 23px;
    color: var(--dark-blue);
}

.card .desc .product-desc {
    letter-spacing: 0.1px;
    line-height: 23px;
    margin-bottom: 25px;
    color: var(--grayish-blue);
}

.card .desc .price {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.card .desc .price .new {
    font-family: "Fraunces", serif;
    color: var(--dark-cyan);    
    font-size: 32px;
    letter-spacing: 0.2px;
    margin-right: 19px;
}

.card .desc .price .old {
    font-size: 13px;
    text-decoration:  line-through;
    color: var(--grayish-blue);
}

.card .button {
    height: 53px;
    color:  var(--white);
    background-color: var(--dark-cyan);
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.card .button img {
    padding-right: 12px;
}

.card .button:hover {
    background-color: var(--dark-active);
    cursor: pointer;
}

.attribution {
    font-size: 0.9rem;
    text-align: center;
    color: var(--dark-blue);
}

.attribution a {
    color: var(--dark-cyan);
    transition: 0.2s ease-in-out;
    font-weight: 700;
}

.attribution a:hover {
    color: var(--dark-active);
}